<div class="container">
  <div class="row">
    <% if @media && @media.any? %>
      <div id="resp-table">
        <div id="resp-table-caption">
          Engagement for all the hashtags
        </div>
        <div id="resp-table-header">
          <div class="table-header-cell">
          HashTags / User
          </div>
          <div class="table-header-cell">
          Engagement
          </div>
          <div class="table-header-cell">
          Likes Average
          </div>
          <div class="table-header-cell">
          Comments Average
          </div>
        </div>
        <div id="resp-table-body">
          <div class="resp-table-row">
            <div class="table-body-cell">
              <%= @tags_array %>
            </div>
            <div class="table-body-cell">
              <%= @media[:engagement_average] %>
            </div>
            <div class="table-body-cell">
              <%= @media[:likes_average] %>
            </div>
            <div class="table-body-cell">
              <%= @media[:comments_average] %>
            </div>
          </div>
          <div class="resp-table-row">
            <div class="table-body-cell">
              @<%= current_user.username %>
            </div>
            <div class="table-body-cell">
              <%= @user_averages[:engagement_average] %>
            </div>
            <div class="table-body-cell">
              <%= @user_averages[:likes_average] %>
            </div>
            <div class="table-body-cell">
              <%= @user_averages[:comments_average] %>
            </div>
          </div>
        </div>
        <div id="resp-table-footer">
          <div class="table-footer-cell">
          </div>
          <div class="table-footer-cell">
          </div>
          <div class="table-footer-cell">
          </div>
          <div class="table-footer-cell">
          </div>
        </div>
      </div>
      <% @media[:edges_by_tags].each do |medium| %>
        <div class="col-xs-12 col-sm-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= medium.node.display_url %>');">
            <div class="card-category"><%= medium.node.edge_liked_by.count %> likes | <%= medium.node.edge_media_to_comment.count %> comments</div>
            <!-- <div class="card-title">
              <h4>@<%#= account.username %></h4>
              <h4><%#= account.full_name.strip if account.full_name %></h4>
            </div> -->
            <div class="card-bio">
              <% begin %>
                <p><%= medium.node.edge_media_to_caption.edges[0].node.text %></p>
              <% rescue %>
              <% end %>
            </div>
            <!-- <img class="card-user" src="<%#= account.profile_pic_url %>"> -->
            <a class="card-link" href="https://www.instagram.com/p/<%= medium.node.shortcode %>" ></a>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No media available</p>
    <% end %>
  </div>
</div>
