<div class="container">
  <div class="row">
    <div id="resp-table">
      <div id="resp-table-caption">
        Engagement per hashtag
      </div>
      <div id="resp-table-header">
        <div class="table-header-cell">
        HashTag / User
        </div>
        <div class="table-header-cell">
        Posts
        </div>
        <div class="table-header-cell">
        Engagement
        </div>
        <div class="table-header-cell">
        Likes Average
        </div>
        <div class="table-header-cell">
        Comments Average
        </div>
      </div>
      <div id="resp-table-body">
        <% @media_group_by_hashtag.each do |media_by_hashtag| %>
          <div class="resp-table-row">
            <div class="table-body-cell">
              <% if media_by_hashtag[:category] == "user" %>
                <%= link_to "@#{media_by_hashtag[:name]}", media_by_hashtag[:url] %>
              <% else %>
                <%= link_to media_by_hashtag[:name], media_by_hashtag[:url] %>
              <% end %>
            </div>
            <div class="table-body-cell">
              <%= media_by_hashtag[:count] %>
            </div>
            <div class="table-body-cell">
              <%= media_by_hashtag[:engagement_average] %>
            </div>
            <div class="table-body-cell">
              <%= media_by_hashtag[:likes_average] %>
            </div>
            <div class="table-body-cell">
              <%= media_by_hashtag[:comments_average] %>
            </div>
          </div>
        <% end %>
      </div>
      <div id="resp-table-footer">
        <div class="table-footer-cell">
        </div>
        <div class="table-footer-cell">
        </div>
        <div class="table-footer-cell">
        </div>
        <div class="table-footer-cell">
        </div>
        <div class="table-footer-cell">
        </div>
      </div>
      <%# @media_group_by_hashtag.each do |media_by_hashtag| %>
<!--         <div></div>
 -->      <%# end %>
    </div>
  </div>
</div>
