<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Search Instagram media by tags</h1>
      <%= simple_form_for(Medium.new, :url => index_by_tag_media_path, :method => :get) do |f| %>
        <%= simple_fields_for :query do |o| %>
          <%= o.input :top_posts, as: :boolean, label: 'Search in top posts only', :input_html => { :checked => true } %>
          <%= o.input :one_by_one, as: :boolean, label: 'Search tag one by one', :input_html => { :checked => true } %>
          <%= o.input :tags, as: :string, label: 'Tags', collection: [], input_html: {multiple: true}, class: "selectized" %>
          <%= o.input :limit, as: :integer, label: 'Max number of media to search in' %>
        <% end %>
        <%= f.submit 'Search' , class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event){
    $('#query_tags').selectize({
      plugins: ['remove_button'],
      delimiter: ',',
      persist: false,
      create: function(input) {
        return {
            value: input,
            text: input
        }
      }
    });
    // Remove unwanted text field
    document.querySelector('.selectize-control').classList.remove('form-control');
  });
</script>
