<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%#= form_tag media_path, method: :get, remote: true, class: "search-form" do %>
        <%#= text_field_tag :city, params[:city], class: "form-control search-bar", placeholder: "Paris, New York" %>
        <%#= text_field_tag :keyword, params[:keyword], class: "form-control search-bar", placeholder: "Photographer" %>
        <%#= button_tag "", {id: 'button_search'} do %>
          <!-- <i class='fa fa-search' ></i> -->
        <%# end %>
      <%# end %>
      <h1>Search Instagram users by location and keyword in bio</h1>
      <%= simple_form_for(Medium.new, :url => media_path, :method => :get) do |f| %>
        <%= simple_fields_for :query do |o| %>
          <%= o.input :city, collection: @locations.collect{|location| location.city} %>
          <%= o.input :keyword, as: :string, label: 'Keyword' %>
          <%= o.input :limit, as: :integer, label: 'Max number of account to search in' %>
          <%= o.input :tags, as: :string, label: 'Tags', collection: [], input_html: {multiple: true},class: "selectized"  %>
          <!-- <div id="query_tags"> </div> -->
        <% end %>
        <%#= f.button :submit, "Validate", class: "btn btn-primary btn-exercise" %>
        <%= f.submit 'Search' %>
      <% end %>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event){
    $('#query_tags').selectize({
      plugins: ['remove_button'],
      delimiter: ',',
      persist: false,
      create: function(input) {
        return {
            value: input,
            text: input
        }
      }
    });
    // Remove unwanted text field
    document.querySelector('.selectize-control').classList.remove('form-control');
    // $("#query_tags").select2({
    //   tags: true,
    //   tokenSeparators: [',']
    // });
  });
</script>


